body {
  background-color: #3848db;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 20px solid rgb(211, 199, 199);
}

img {
  width: 15%;
}

.red_font {
  color: #0ce781;
}

.tiny_text {
  font-size: 11px;
  color: #5010b8;
}